{% extends 'dds/dds_base.html' %}
{% block content %}

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Желаете создать новое движение денежных средств?</h1>
          <a href="{% url 'dds:cashflow-create' %}" class="btn btn-primary my-2">Создать</a>
        </p>
      </div>
    </div>
  </section>

<div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for cashflow in cashflows %}
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">

              <p class="card-text">Время создания: <b>{{ cashflow.created_at }}</b> </p>
              <p class="card-text">Статус: <b>{{ cashflow.status }}</b> </p>
              <p class="card-text">Тип: <b>{{ cashflow.type }}</b> </p>
              <p class="card-text">Категория: <b>{{ cashflow.category }}</b> </p>
              <p class="card-text">Подкатегория: <b>{{ cashflow.subcategory }}</b> </p>
              <p class="card-text">Сумма: <b>{{ cashflow.sum }}</b> </p>
              <p class="card-text">Комментарий: <b>{{ cashflow.comment }}</b> </p>

              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary" href="{% url 'dds:cashflow-retrieve' cashflow.pk %}" role="button">Просмотр</a>
                </div>
                <small class="text-body-secondary"></small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
